@model KUSYSDemoApp.UI.ViewModels.StudentCourseViewModel

@{
    ViewData["Title"] = "Öğrenci Ders Düzenleme";
}

<!--begin::Portlet-->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @ViewData["Title"]
            </h3>
        </div>
    </div>

    <!--begin::Form-->
    <form asp-controller="StudentCourse" asp-action="Form" method="post" data-ajax="true" data-ajax-begin="onbegin" data-ajax-complete="oncomplete" data-ajax-success="onsuccess" class="kt-form kt-form--label-left">
        @Html.AntiForgeryToken()

        <div class="kt-portlet__body">
            <div class="form-group row">
                <label for="student" class="col-2 col-form-label">Öğrenci</label>
                <div class="col-10">

                    @if (ViewBag.IsAdmin)
                    {
                        <select asp-for="StudentId" asp-items="Model.Students" class="form-control kt-select2" id="student">
                            <option value="">Seçiniz</option>
                        </select>
                    }
                    else
                    {
                        <label for="student" class="col-10 col-form-label">@Model.Student</label>
                        @Html.HiddenFor(m => m.StudentId)
                    }
                </div>
            </div>

            <div class="form-group row">
                <label for="courses" class="col-2 col-form-label">Dersleri</label>
                <div class="col-10">
                    <select asp-for="CourseIds" asp-items="Model.Courses" class="form-control kt-select2" multiple id="courses"></select>
                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <button type="submit" class="btn btn-primary"> Kaydet </button>
                        <a href="@Url.Action("", "StudentCourse")" class="btn btn-danger"> Vazgeç </a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--end::Form-->
</div>

<!--end::Portlet-->

@section Scripts{
    <script>
        function onbegin() { KTApp.blockPage(); }

        function oncomplete() { window.setTimeout(function () { KTApp.unblockPage(); }, 100); }

        function onsuccess(result) {
            swal.fire({
                type: result.type,
                title: result.message,
                showConfirmButton: false,
                timer: 2500
            });

            if (result.isSuccess) window.setTimeout(function () { parent.location = "@Url.Action("", "StudentCourse")"; }, 2500);
        }

        @if (ViewBag.IsAdmin)
        {
            <text>
                $('.kt-select2').select2({ placeholder: "Seçiniz" });

                $("#student").change(function() {
                    var studentId = $(this).val();

                    $.ajax({
                        url: '@Url.Action("GetCourses", "StudentCourse")',
                        type: 'post',
                        data: { studentId },
                        dataType: 'json',
                        beforeSend: function() { KTApp.blockPage(); },
                        complete: function() { window.setTimeout(function() { KTApp.unblockPage(); }, 100); },
                        success: function(courseIds) { $("#courses").val(courseIds).change(); },
                        error: function() {
                                swal.fire({
                                type: '@ResultName.Error.ToLowerString()',
                                title: '@ResultMessages.Error',
                                showConfirmButton: false,
                                timer: 2500
                            });
                        }
                    });
                })
            </text>
        }      

    </script>
}